@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-container {
    padding: 0 30px 15px;
    width: 850px;
    height: 522px;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
     
    @media (max-width: 916px) {
        width: 80%;
        height: 80%;
        overflow-y: scroll;
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
     }

    @media (max-width: 768px) {
        width: 80%;
        height: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
     }

    @media (max-width: 430px) {
       width: 75%;
       height: 80%;
       overflow-y: scroll;
       overflow-x: hidden;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    }
}

.title-modal {
    color: #515255;
    font-size: 24px;
    font-weight: 400;

    @media (max-width: 768px) {
        margin-right: 40vw;
    }

    @media (max-width: 430px) {
        margin-right: 98px;
    }
}

.subtitle-modal {
    color: #515255;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.column-container {
    display: flex;
    
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
     }
}

.first-column {
    display: flex;
    flex-direction: column;
}

.img-file {
    width: 389px;
    height: 305px;
    border-radius: 4px;
    cursor: pointer;
    object-fit: cover;

    @media (max-width: 916px) {
        width: 100%;
     }

    @media (max-width: 768px) {
       width: 100%;
       }
}

.second-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    margin-left: 24px;

    @media (max-width: 916px) {
        margin-left: 60px;
     }

    @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 8px;
    }
}

.input-modal {
    padding: 16px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #96969693;
    width: 413px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #818388;
    font-weight: 500;

    @media (max-width: 916px) {
        width: 300px;
     }

    @media (max-width: 768px) {
        width: 90%;
     }
}

.textarea {
    resize: none;
    height: 94px;
    padding: 16px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #96969693;
    width: 413px;
    font-size: 16px;
    color: #818388;
    font-weight: 500;

    @media (max-width: 916px) {
        width: 300px;
     }

    @media (max-width: 768px) {
        width: 90%;
     }
}

.button-container {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        margin-bottom: 10px;
    }

    @media (max-width: 470px) {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;
    }
}

.primary-button {
    background-color: #FF5522;
    color: #FCFDFF;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 22px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.37);
    cursor: pointer;
}

.second-button {
    background-color: #0000002f;
    color: #0000004d;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 18px;
    font-weight: 600;
    margin: 0 14px;
    cursor: pointer;
    
}

.view-text {
    color: #515255;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}