
.form_login{
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 126px;
    display: flex;
    width: 312px;
    height: 234px;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0; 
    
}

.text_login{
    color: var(--Neutral-Colors-Neutral-110, #515255);
/* [Orange P] Style Guide/Subtitle 1 */
width: 312px;
height: 32px;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
letter-spacing: 0.15px;

}

.label_email{
    position: absolute;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
    margin-top: 24px;
    margin-left: 16px;
    background-color: white;   
}

.input_email{

display: flex;
height: 24px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
align-self: stretch;
padding: 12px;
}

.label_password{
    position: absolute;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
    margin-top: 93px;
    margin-left: 16px;
    background-color: white;   
}

.input_password{

display: flex;
height: 24px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
align-self: stretch;
padding: 12px;
}

.btn_entrar{
    display: flex;

    height: 42px;
    padding: 8px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--borderRadius, 4px);
    border:none;
background: var(--Color-Brand-Secundria-Secondary-100, #F52);

/* elevation/2 */
box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
color: #FCFDFF
    
}


.registrar{    
    color: #818388;
}

@media (min-width:639px){
    .form_login{
        width: 40vw;
        height: 20vh;
    }

    .label_email{
        margin-top: 24px;
    }

    .label_password{
        margin-top: 91px;
    }
}