
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0px;
    width: 100%;
    background-color: #111133;
    padding: 4px;
}

.text-footer {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
   
    @media (max-width:768px ) {
        text-align: center;
    }
}

.footer-links {
    text-decoration: none;
    color: #fff
}

.footer-links:hover {
    color: #FF5522;
}