@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto;
}

.project-container {
    width: 389px;
    margin: 0 22px;
    margin-bottom: 26px;

    @media (max-width: 768px){
        margin: 0;
        margin-bottom: 26px;
    }

    @media (max-width: 550px){
        width: 100%;
        margin: 0;
        margin-bottom: 26px;
    }
}

.project-img-container{
    width: 389px;
    height: 258px;
    border-radius: 4px;
    cursor: pointer;

    @media (max-width: 550px){
        width: 100%;
    }
}

.project-img{
    width: 389px;
    height: 258px;
    object-fit: cover;

    @media (max-width: 550px){
        width: 100%;
    }
}

.project-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}

.project-user-infos {
    display: flex;
    align-items: center;
}

.project-profile-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.project-name {
    font-size: 16px;
    font-weight: 400;
    color: #515255;
    margin: 0 10px;
}

.project-info-tags {
    display: flex;
}

.tags {
    margin: 0 2px;
    border-radius: 20px;
    padding: 8px;
    background-color: #00000014;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}