.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.title{
    color: var(--Color-Brand-Primria-Primary-90, var(--Color-Brand-Primria-Primary-90, #224));
    text-align: center;
    /* [Orange P] Style Guide/H5 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    margin-top: 109px;

}

.button_google{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
    height: 40px;
    gap: 24px;
    background-color: #FFFFFF;
    padding: 11px;
    border: 1px; 
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 #00000020;
    color: #0000008A;
    font-weight: bold;
    font-size: 14px;
    
    
    
    }

    @media (min-width: 639px) {
    
        .conteiner_pai{
            display: flex;
            justify-content: flex-end;
            background-image:url('./../../assets/img/img_login.png');
            background-size: 41vw 100vh;
            background-repeat: no-repeat;
            
        }

        .conteiner{
            max-width: 58vw;

            
        }
        
    }
