
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0px;
    width: 100%;
    background-color: #ff5622;
    padding: 4px;
    border-top: 1px solid #22224481;
}

.text-footer {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.footer-links {
    text-decoration: none;
    color: #fff
}

.footer-links:hover {
    color: #222244;
}