.my-projects {
    margin: 30px 25px;
}

.my-projects-title {
    font-size: 20px;
    color: #0b0c0da1;
    margin: 10px 22px;

    @media (max-width: 768px) {
        margin: 10px 0px;
    }

    @media (max-width: 550px){
        margin: 10px 0px;
        
    }
}

.input {
    padding: 16px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #96969693;
    width: 513px;
    margin: 0 22px;
    margin-bottom: 35px;

    @media (max-width: 768px) {
        width: 70%;
        margin: 0;
        margin-bottom: 24px;
    }

    @media (max-width: 560px) {
        width: 94%;
        margin: 0;
        margin-bottom: 24px;
    }

    @media (max-width: 430px){
        width: 92%;
        margin: 0;
        margin-bottom: 24px;
    }
}

.my-projects-container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: stretch;

    @media (max-width: 550px){
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
}

.box-img-container {
    cursor: pointer;
    background-color: #E6E9F2;
    width: 389px;
    height: 140px;
    padding-top: 70px;
    padding-bottom: 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 22px;
    
    @media (max-width: 768px){
        margin: 0px;
    }

    @media (max-width: 550px){
        width: 100%;
        margin: 0;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin-top: 20px;
}

.first-text {
    color: #303133a4;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    width: 85%; 
}

.second-text {
    color: #303133a4;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    width: 85%;
}
