@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto;
}

.my-projects {
    margin: 30px 25px;
}

.my-projects-title {
    font-size: 20px;
    color: #0b0c0da1;
    margin: 10px 22px;
}

.input {
    padding: 16px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #96969693;
    width: 513px;
    margin: 0 22px;
    margin-bottom: 35px;
}

.my-projects-container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: stretch;
}

.box-img-container {
    cursor: pointer;
    background-color: #E6E9F2;
    width: 389px;
    padding-top: 70px;
    padding-bottom: 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 22px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.first-text {
    color: #303133a4;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    width: 85%; 
}

.second-text {
    color: #303133a4;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    width: 85%;
}
