.register_form_container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.back_to_login {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.arrow {
    font-size: 16px;
    opacity: 0.6;
    width: 20px;

    @media (max-width: 540px) {
        width: 18px;    
    }
}


.back_to_login_text {
    font-size: 16px;
    font-weight: 400;
    margin: 0 4px;
    color: #515255;

    @media (max-width: 540px) {
        font-size: 16px;    
    }
}

.title_register {
    color: #222244;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;

    @media (max-width: 540px) {
        text-align: center;
        font-size: 24px;
    }
}

.form_register{
    width: 517px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0; 

    @media (max-width: 540px) {
        width: 90%;
    }
}

.conteiner_nome_register{
    display: flex;
    gap:16px;

    @media (max-width: 540px) {
        display: flex;
        flex-direction: column;
    }
}

.label_nome_register{
    position: absolute;
    margin-top: -8px;
    margin-left: 16px;
    padding: 0 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    background-color: white;
    color: #515255;
}


.input_register{
    border-radius: 4px;
    outline: none;
    border: 1px solid #96969693;
    padding: 16px 12px;
    font-size: 16px;
    width: 490px;

    @media (max-width: 540px) {
        width: 90%;
    }
}

.label_sobrenome_register{
    position: absolute;
    margin-top: -8px;
    margin-left: 282px;
    font-size: 12px;
    font-style: normal;
    padding: 0 4px;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 0.4px;
    background-color: white;
    color: #515255;

    @media (max-width: 540px) {
        margin-top: 62px;
        margin-left: 12px;
    }
}

.label_email_register{
    position: absolute;
    top: 307px;
    padding: 0 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-left: 16px;
    background-color: white;
    color: #515255;

    @media (max-width: 540px) {
        margin-top: 18px;
    }
}

.label_password_register{
    position: absolute;
    top: 377px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 0 4px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-left: 16px;
    background-color: white;
    color: #515255;

    @media (max-width: 540px) {
        margin-top: 16px;
    }
}

.btn_register_register{
    cursor: pointer;
    display: flex;
    padding: 12px 22px;
    font-size: 15px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border:none;
    background: #FF5522;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: #FCFDFF;
    outline: none;
    transition: 0.5s;

    @media (max-width: 540px) {
        width: 97%;
    }
}

.btn_register_register:hover {
    background: #222244;
}

.edit-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-edit-img {
    color: #222244;
    font-size: 48px;
    font-weight: 400;
}

.edit-img {
    margin-top: 12px;
}

.logo-img-user {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    object-fit: cover;
}

.logo-img-user:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.logo-img {
    width: 150px;
    opacity: 0.8;
    cursor: pointer;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.logo-img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.edit-img-btn-container {
    margin-top: 20px;
    width: 517px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-img-btn {
    width: 32vw;
    outline: none;
    cursor: pointer;
    display: flex;
    padding: 12px 22px;
    font-size: 15px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border:none;
    background: #FF5522;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: #FCFDFF;
    transition: 0.5s;

    @media (max-width: 540px) {
        width: 80vw;
    }
}

.edit-img-btn:hover {
    background: #222244;
}